* {padding: 0; margin: 0;}

body {
	font-size: 100.01%;
	font-family: sans-serif;
	width: 52.4em;
	margin: 0 auto;
}

p, ul {
	margin: .6em 0;
	line-height: 1.2em;
}

img { border: 0 }

strong { font-weight: bold; }
em     { font-style: italic; }
kbd    { font-family: monospace; }

pre {
    font-size: 1.1em;
	color: black;
	background-color: rgb(235, 235, 235);
	border: .1em dashed rgb(255, 180, 15);
	padding: .2em .6em;
}

h1, h2, h3 {
	font-family: Georgia, serif;
}

h1 { font-size: 2.1em; margin: .4em 0 .2em; }
h2 { font-size: 1.5em; margin: .8em 0 .1em; }

a, a:link {
	color: rgb(47, 84, 255);
	text-decoration: none;
}

a:visited {
	color: rgb(0, 51, 144);
	text-decoration: none;
}

a:focus, a:hover, a:active {
	color: rgb(255, 180, 15);
	text-decoration: underline;
}

a[rel="external"] {
  background: transparent url(img/external.png) no-repeat scroll right center;
  padding-right: 13px;
}

#content {
	width: 40em;
}

#sidebar {
	float: right;
	width: 10em;
	margin-left: 2em;
}

#sidebar p { font-size: .9em; }

#navigation ul {
  margin: 0;
  padding: 0;
}

#navigation li {
	list-style: none;
	color: rgb(47, 84, 255);
	background-color: rgb(230, 230, 230);
	margin-bottom: .2em;
	padding: .2em;
}

#navigation li:hover {
	color: rgb(47, 84, 255);
	background-color: rgb(255, 180, 15);
}

#navigation li a:link, #navigation li a:visited,
#navigation li a:focus, #navigation li a:active {
	color: rgb(47, 84, 255);
	text-decoration: none;
}

#navigation li a:hover {
  color: rgb(255, 255, 255);
}

#navigation li li {
  background-color: transparent;
  font-size: .8em;
  margin: 0;
  padding: 0 0 0 .8em;
}

#news { font-size: .9em; }
#news h3 { font-size: 1.2em; margin: 1.2em 0 0; }
#news h4 { font-size: .9em; margin: .6em 0 .1em; }
#news .date { color: rgb(90, 90, 90); }

/* Syntax highlighting */
code.ruby .fixnum  { color: rgb(  0, 128, 255); font-weight: bold; }
code.ruby .keyword { color: rgb(164,  53, 122); font-weight: bold; }
code.ruby .string  { color: rgb( 42,   0, 255); }
code.ruby .symbol  { color: rgb(255,  64,  64); font-weight: bold; }
code.ruby .comment { color: rgb( 63, 127,  95); }

